body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.calculadora {
    background-color: #706f6f;
    padding: 20px;
    border-radius: 10px;
    width: 350px;
}

.display {
    background-color: black;
    color: lime;
    font-size: 2em;
    text-align: right;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 10px;
    height: 30px;
}

.botoes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.botao {
    background-color: lightgray;
    border: none;
    padding: 20px;
    font-size: 1.5em;
    border-radius: 5px;
    cursor: pointer;
}

.botao:hover {
    background-color: darkgray;
}
